@using BoVoyage.WEB.Tools;
@{
	Message message = TempData["MESSAGE"] as Message;
}

@section ContentBox{
    
@if (message != null)
{
	<p class="alert alert-@message.MessageType">@message.Text</p>
}
    }