@model IEnumerable<BoVoyage.WEB.Models.DestinationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        @foreach (var item in Model)
        {
            <th>
                @Html.DisplayFor(modelItem => item.City)
            </th>
        }
    </tr>

    <tr>
        @foreach (var item in Model)
        {
            <td>
                <img src="~/Content/Images/cinqueterre.jpg" alt="Cinque Terre" style="width:100px">
            </td>
        }
    </tr>

</table>