@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@RenderSection("PanelTitle", true)</div>
    <div class="panel-body">@RenderSection("PanelBody", true)</div>
</div>

@section Scripts
{
	@RenderSection("Scripts", true)
}