@model BoVoyage.WEB.Models.InsuranceTypeViewModel

@{
	ViewBag.Title = "Suppression de type d'assurance";
}

<h2>Suppression de type d'assurance</h2>

<h3>Etes-vous sur de vouloir supprimer ce type d'assurance ?</h3>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Type)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Type)
		</dd>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Supprimer" class="btn btn-default" /> |
			@Html.ActionLink("Retour à la liste", "Index")
		</div>
	}
</div>