@{
    ViewBag.Title = "A-propos";
}




@section ContentBox{
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <div class="container-fluid">
        <p>
            © 1999-2018 BoVoyage. Tous droits réservés - BoVoyage HTY, S.L. société soumise au droit du Pacific, inscrite au registre du commerce du Pacific, La caille 36897, Folio 463, Hoja M-660117 dont le siège social est Calle Graccia 28, 32 Ext. Izq., 280, Lagon, Bay, immatriculée au Registre des opérateurs de voyages et de séjours auprès de Atout France sis 79/81 rue de Clichy 75009 Paris, sous le numéro IM0991822, titulaire d'une police d'assurance auprès de Hiscox, sis Pacifica, 60, 7ª Planta, 046 Pacific, Pacific, agréée IATA.
            Si vous avez soumis une réclamation auprès de notre Service Client, mais que notre réponse ne vous satisfait pas : vous pouvez contacter la Médiation Tourisme et Voyage sur leur site www.mtv.travel ou par voie postale MTV Médiation Tourisme Voyage BP 80 303 75 823 Paris cedex 17.
            .
        </p>
    </div>
    }