
@{
    ViewBag.Title = "CGV";
}

<h2>CGV</h2>

@section ContentBox{
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <div class="container-fluid">
        <p>
Clause n° 1 : Objet
Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société ... (dénomination sociale) et de son client dans le cadre de la vente des marchandises suivantes : ... (le vendeur doit recenser les marchandises soumises aux CGV).
Toute prestation accomplie par la société ... (dénomination sociale) implique donc l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.
Clause n° 2 : Prix
Les prix des marchandises vendues sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA et des frais de transport applicables au jour de la commande.
La société ... (dénomination sociale) s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix indiqués lors de l'enregistrement de la commande.
Clause n° 3 : Rabais et ristournes
Les tarifs proposés comprennent les rabais et ristournes que la société ... (dénomination sociale) serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations.
Clause n° 4 : Escompte
Aucun escompte ne sera consenti en cas de paiement anticipé.
Clause n° 5 : Modalités de paiement
Le règlement des commandes s'effectue :

soit par chèque ;
soit par carte bancaire ;
le cas échéant, indiquer les autres moyens de paiement acceptés.
Lors de l'enregistrement de la commande, l'acheteur devra verser un acompte de 10% du montant global de la facture, le solde devant être payé à réception des marchandises.
Clause n° 6 : Retard de paiement
En cas de défaut de paiement total ou partiel des marchandises livrées au jour de la réception, l'acheteur doit verser à la société ... (dénomination sociale) une pénalité de retard égale à trois fois le taux de l'intérêt légal.
Le taux de l'intérêt légal retenu est celui en vigueur au jour de la livraison des marchandises.

A compter du 1er janvier 2015, le taux d'intérêt légal sera révisé tous les 6 mois (Ordonnance n°2014-947 du 20 août 2014).

Cette pénalité est calculée sur le montant TTC de la somme restant due, et court à compter de la date d'échéance du prix sans qu'aucune mise en demeure préalable ne soit nécessaire.
En sus des indemnités de retard, toute somme, y compris l’acompte, non payée à sa date d’exigibilité produira de plein droit le paiement d’une indemnité forfaitaire de 40 euros due au titre des frais de recouvrement.
Articles 441-6, I alinéa 12 et D. 441-5 du code de commerce.
Clause n° 7 : Clause résolutoire
Si dans les quinze jours qui suivent la mise en oeuvre de la clause " Retard de paiement ", l'acheteur ne s'est pas acquitté des sommes restant dues, la vente sera résolue de plein droit et pourra ouvrir droit à l'allocation de dommages et intérêts au profit de la société ... (dénomination sociale).
Clause n° 8 : Clause de réserve de propriété
La société ... (dénomination sociale) conserve la propriété des biens vendus jusqu'au paiement intégral du prix, en principal et en accessoires. À ce titre, si l'acheteur fait l'objet d'un redressement ou d'une liquidation judiciaire, la société ... (dénomination sociale) se réserve le droit de revendiquer, dans le cadre de la procédure collective, les marchandises vendues et restées impayées.
Clause n° 9 : Livraison
La livraison est effectuée :



Fait à ... (ville), le ... (date)
... (signature du client)
... (signature du représentant légal la société)
        </p>
    </div>
}
