@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BoVoyage <br />
    12 rue du Faubourg Saint Honoré <br />
    75008 Paris <br />
    <abbr title="Phone">P:</abbr>
    +33 125.555.010
</address>

<address>
    <strong>Support :</strong>   <a href="mailto:BoVoyage.Support@gtm.com">Support@Team.com</a><br />
    <strong>Marketing :</strong> <a href="mailto:BoVoyage.Marketing@gtm.com">Marketing@Team.com</a>
</address>