@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BoVoyage<br />
    12 rue du Faubourg Saint Honoré<br />
    <abbr title="Phone">P:</abbr>
    142 508 989
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:BoVoyage-Support@example.com">BoVoyage-Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:BoVoyage-Marketing@example.com">BoVoyage-Marketing@example.com</a>
</address>