@{
    ViewBag.Title = "FAQ";
}

@section ContentBox{
    <div class="container-fluid pre-scrollable">
        <p>
            Question 1, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            <br />Question 2, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            <br />Question 3, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            <br />Question 4, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            <br />Question 5, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            @*Question 6, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Question 7, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Question 8, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Question 9, Lorem Ipsum is simply dummy text of the printing and typesetting industry.*@
            <hr />
            <article>
                Answer 1:
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

            <br />Answer 2:
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

            <br />Answer 3:
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

            <br />Answer 4:
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

            <br />Answer 5:
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

            @*Answer 6:
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

                Answer 7:
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

                Answer 8:
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.

                Answer 9:
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.*@
            </article>
        </p>
    </div>
}